.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
}

footer {
  color: white;
  font-size: .9rem;
  margin-top: 15px
}

footer p {
  margin-top: 0
}

.Search-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.Search-container textarea {
  font-size: 1rem;
  resize: none;
}

.Search-container button {
  font-size: 1.5rem;
  margin-top: 15px;
}

.SearchResults {
  font-size: 1.5rem;
  margin-top: 30px;
}

.ResultsList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul {
  margin: auto;
}

.ResultsList li {
  margin: 20px 0;
  display: flex;
  align-items: center;
  white-space: pre;
}

.ResultsList li img {
  margin-right: 20px;
}

a {
  color: #ccc
}

.RavelryUrl {
  margin-top: 30px
}